<section [style.background-image]="'url(' + weddingInfo.assets.backgroundImage + ')'"
    class="pb-[35%] md:pb-[20%] relative bg-no-repeat bg-linen wave z-[99]">
    <div class="relative z-[999]">
        <div class="flex flex-wrap justify-center gap-16 lg:gap-52">
            <app-event-card [titulo]="weddingInfo.events.ceremony.title"
                [animationKey]="'rings'" [place]="weddingInfo.events.ceremony.place"
                [address]="weddingInfo.events.ceremony.address" [date]="weddingInfo.events.ceremony.date"
                [location]="weddingInfo.events.ceremony.location" [mapsUrl]="weddingInfo.events.ceremony.mapsUrl"
                [calendarRef]="weddingInfo.events.ceremony.calendarUrl" />
            <app-event-card [titulo]="weddingInfo.events.party.title" [animationKey]="'party'"
                [place]="weddingInfo.events.party.place" [address]="weddingInfo.events.party.address"
                [date]="weddingInfo.events.party.date" [location]="weddingInfo.events.party.location"
                [mapsUrl]="weddingInfo.events.party.mapsUrl" [calendarRef]="weddingInfo.events.party.calendarUrl" />
        </div>
    </div>
</section>