<section class="pt-[90px] pb-[25%] md:pt-[14%] relative md:pb-[10%] bg-linen">
    <div class="flex flex-col justify-center items-center mx-auto md:w-[700px] text-center">
        <h2 class="text-[40px] md:text-6xl leading-[60px] mb-0 text-forest font-cookie">{{ weddingInfo.sections.gifts.title }}</h2>
        <p class="text-forest font-normal text-base md:text-xl px-[15px]">{{ weddingInfo.sections.gifts.description }}</p>

        <div #lottieContainer class="flex justify-center items-center h-20 w-[95px] mt-6">
            <ng-lottie *ngIf="shouldLoadAnimation" class="w-[90px] h-[80px] max-w-full max-h-full" [options]="options"
                (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
    </div>
</section>