<section class="bg-sand pt-[30px] pb-2.5">
    <div>
        <div class="flex flex-col justify-center items-center">
            <h2 class="font-cookie text-navy-dark text-center px-[15px] text-[40px] md:text-6xl leading-[60px]">Retratos
                de Nuestro Amor</h2>
            <p class="px-[15px] text-center text-base md:text-xl font-normal text-navy">Un minuto, un segundo, un
                instante que queda en la eternidad
            </p>

            <div class="w-14 h-w-14 mx-auto mt-3.5">
                <ng-lottie class="w-[90px] h-[90px] max-w-full max-h-full" [options]="options"
                    (animationCreated)="animationCreated($event)" />
            </div>
        </div>
    </div>

    <!-- Carrusel con ngx-slick-carousel -->
    <ngx-slick-carousel style="margin-bottom: 30px;" class="carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let img of images" class="slide">
            <div class="bg-white p-[15px] pb-[100px] shadow-rounded">
                <!-- Enlace con data-fancybox para abrir en modal -->
                <a href="{{ img.full }}" data-fancybox="gallery" data-caption="Imagen ampliada">
                    <img class="w-full h-[500px] object-cover" [src]="img.thumb" [alt]="'Imagen ' + img.thumb" />
                </a>
            </div>
        </div>
    </ngx-slick-carousel>
</section>