<section class="bg-linen h-[360px] relative">
  <div class="justify-center items-center flex">
    <div
      class="box-aros absolute z-[99] flex items-center justify-center h-[360px] w-[360px] md:h-[470px] md:w-[470px] -top-[40%] md:-top-[60%] xl:-top-[90%] 2xl:-top-[110%]">
      <div
        class="h-[270px] w-[270px] md:w-[315px] md:h-[315px] bg-white rounded-[50%] shadow-rounded mx-auto text-center p-5">
        <div class="text-[40px] text-sky-blue font-light md:mt-[30px]">
          Falta
        </div>

        <div class="flex mt-[10px] justify-center">
          <div class="w-[25%] items-center border-r-[1px] px-2 py-0 border-[#CCC] float-left">
            <div class="text-[30px] md:text-[35px] font-bold text-navy">{{ days }}</div>
            <div class="text-lg md:text-[20px] text-sky-blue font-light">
              días
            </div>
          </div>
          <div class="w-[25%] items-center border-r-[1px] px-2 py-0 border-[#CCC] float-left">
            <div class="text-[30px] md:text-[35px] font-bold text-navy">{{ hours }}</div>
            <div class="text-lg md:text-[20px] text-sky-blue font-light">
              hs
            </div>
          </div>
          <div class="w-[25%] items-center border-r-[1px] px-2 py-0 border-[#CCC] float-left">
            <div class="text-[30px] md:text-[35px] font-bold text-navy">
              {{ minutes }}
            </div>
            <div class="text-lg md:text-[20px] text-sky-blue font-light">
              min
            </div>
          </div>
          <div class="w-[25%] items-center border-[#CCC]">
            <div class="text-[30px] md:text-[35px] font-bold text-navy">
              {{ seconds }}
            </div>
            <div class="text-lg md:text-[20px] text-sky-blue font-light">
              seg
            </div>
          </div>
        </div>

        <div class="w-28 h-28 mx-auto">
          <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" />
        </div>
      </div>
    </div>
  </div>
</section>