@import "tailwindcss";

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Light';
  src: url('./assets/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Cookie';
  src: url('./assets/fonts/Cookie-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-light: 'Open Sans Light', sans-serif;
  --font-cookie: 'Cookie', cursive;

  /* forest: #4A6360 */
  --color-forest: #4A6360;

  /* sage: #81948B */
  --color-sage: #81948B;

  /* mint: #C6D7CF */
  --color-mint: #C6D7CF;

  /* linen: #FAF7F3 */
  --color-linen: #FAF7F3;

  /* sand: #EFEDE7 */
  --color-sand: #EFEDE7;

  /* stone: #868686 */
  --color-stone: #868686;

  /* gold: #BFA880 */
  --color-gold: #BFA880;

  /* navy-dark: #0e243c */
  --color-navy-dark: #0e243c;

  /* navy: #425e87 */
  --color-navy: #425e87;

  /* slate-blue: #6c86ab */
  --color-slate-blue: #6c86ab;

  /* sky-blue: #a0c0e7 */
  --color-sky-blue: #a0c0e7;

  /* baby-blue: #bfd5ec */
  --color-baby-blue: #bfd5ec;

  /* light-gray: #dee1e4 */
  --color-light-gray: #dee1e4;

  --shadow-rounded: 0px 0px 15px -1px rgba(0, 0, 0, 0.4);

  /* half: 50% */
  --radius-half: 50%
}

:root {
  font-family: "Open Sans", "sans-serif";
}